* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url("./images/pexels-karolina-grabowska-4386431\ 1.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 43%;
    height: 480px;
}


.main_digital{
    margin-right: 30px;
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
    margin-left: 60px;
}

.nav-div a{
    font-weight: normal;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
.nav-div {
    margin-right: 70px;
}
.login {
 color: #FE9C00;
  background: transparent;
outline: none;
width: 73px;
height: 29px;
border-radius: 14px;
border: 2px solid #FE9C00;
}

.line {
    margin-top: 7px;
margin-right: 85px;
margin-left: 58px;
}
.text-digital {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 130px;
}

.text-digital p{
font-size: 25px;
color: white;
}
.text-digital h1{
font-size: 50px;
    color: white;
}

.bond{
    color:#FE9C00;
    
}
.text-digital h5{
    color: white;
    font-weight: 100;
}

.buy{
border-radius: 16px;
margin-top: 25px;
height: 32px;
width: 100px;
outline: none;
border: none;
background-color: #FE9C00;
}

.product-div {
    
    padding-bottom: 50px;
    background-color: #FE9C00;
   
}
.bond-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bond-text h1{
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    margin-top: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.bond-text p{
    width: 60%;
    font-size: 14px;
    margin-top: 20px;
}
.first-three {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.first-four {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.div-one {
    background: #FFFFFF;
    width: 270px;
    margin-right: 40px;
      height: 280px; 
      text-align: center;
   
}
.div-one h4{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}
.div-one p{
    font-size: 8px;
    margin-top: 10px;
}


.div-two {
    background: #FFFFFF;
    width: 270px;
    text-align: center;
    padding: 20px;
    /* border: 2px solid white; */
}
.div-two h4{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}
.div-two p{
    color: 999999;
    font-size: 8px;
    margin-top: 10px;
}

.div-three {
    background: #FFFFFF;
    width: 270px;
    text-align: center;
     padding: 20px; 
     margin-left: 40px; 
    /* border: 2px solid white; */
}

.div-three h4{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}
.div-three p{
color:999999;
    font-size: 8px;
    margin-top: 10px;
}

.five-div{
 padding-bottom: 30px; 
background: #111111;


}
.flex-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .five-div p{
     margin-top: 40px;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    font-family: system-ui;
    color: #FE9C00;
}

.flex-div h1 {
    margin-top: 70px;
    font-size: 50px;
    font-weight: 800;
    
}

.span-btc{
font-size: 40px;
font-weight: 800;
}

.digit-div span {
 display: inline-block;
 border-radius: 20px;
width: 40px;
height: 40px;
text-align: center;
/* padding-top: 10px; */
line-height: 40px;
 background-color:#FE9C00;

}

.flex-div h6{
    letter-spacing: 1px;
    margin-top: 30px;
    color: white;
}
.total-div {
    display: flex;
    flex-direction: column;
}
.six-div {
    padding-bottom: 40px;
    background-color: #292929;
}
.lucky {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lucky p{
    font-size: 23px;
    margin-top: 30px;
    font-weight: 500;
    color: #FE9C00;
}
.six-div h5{
    margin-bottom: 20px;
    margin-top: 2px;
    color: white;
    font-weight: 500;
}

.lucky img{
    max-width: 60%;
    height: auto;
}
.footer-div {
   padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: #292929;
     
}
.users {
    font-size: 12px;
    font-family: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
    background: #FE9C00;
    text-align: center;
}
.countries {
    font-size: 12px;
    font-family: inherit;
    padding-top: 6px;
    width: 50%;
    background: #FFAE2D;

    text-align: center;
}
.footer-div  h6{
    font-size: 10px;
    color: white;
}
.footer-div h2{
    color: #292929;
    font-weight: 500;
}
.left-right {
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
.div-left {
    
    background-color:#292929;
/* flex: 40%; */
}

.div-right{
    background-color:#292929;
    /* flex: 20%; */
}

.div-left h1 {
font-size: 22px;
color: white;
font-weight: 100;
}
.div-left p{
    font-size: 13px;
    margin-top: 20px;
    color: white;
    
    
}
.logo{
    background-color:#292929;
    /* flex: 40%; */
}

.div-left button{
    margin-top: 22px;
    color: #FE9C00;
    background: transparent;
    outline: none;
    width: 85px;
    height: 29px;
    border-radius: 14px;
    border: 1px solid #FE9C00;
    font-size: 9px;

}
.div-right h2{
font-size: 22px;
color: white;
font-weight: 100;
}

.div-right ul{
    color: white;
    margin-top: 18px;
    font-size: 11px;
    line-height: 22px;
    list-style-type: none;
}
.images-four {
    letter-spacing: -3px;
    font-size: 86px;
}
.end {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #292929;
}
.end p{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 80px;
    color: white;
}

    






/* @media screen and (max-width: 900px) {

} */